.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* 크기 조정. */
.button {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: white;
  /*background-color: lightblue;*/
  /*border-radius: 12px;*/
  font-size: 18px;
  width: 200px;
  height: 40px;
  margin-right: 3%;
}

.header-website {
  /*background-color: #39c95d;*/
  background-color: white;
  display: flex;
  align-items: center;
  border-width: 0px 0px 3px;
  border-style: solid;
  border-color: #aaa;
}

/*메인메뉴로 돌아가는 버튼 css*/
.to-main-menu{
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  margin-left: 1%;
}

/*유실물 갯수 정보 css*/
.lost-item-count{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: black;
  border: 2px solid;
  border-radius: 16px;
  padding: 5px;
  margin-left: auto;
  margin-right: 2%;
}

/* 메인메뉴 제목 css*/
.main-title-website{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
  font-size: 32px;
  padding: 11px;
  margin-left: 2%;
}

/*지도 페이지 css, 폰트 추가, 크기 조정, 페딩, 마진 조정*/
.title-website{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 500;
  font-size: 32px;
  padding: 11px;
  margin-left: 10px;
}

.map-naver-view {
  min-height: 500px;
  width: 90%;
  margin: 0 auto;
}

/*드로어 css*/
.drawer-open {
  margin-left: 680px; /* Drawer의 너비에 맞게 페이지 전체가 밀림 */
}

.naver-map {
  flex-grow: 1; /* 지도는 남은 화면을 채움 */
  height: 100vh; /* 높이는 화면 전체를 사용 */
}

.data-grid {
  width: 100%; /* 데이터 그리드가 남은 화면을 차지 */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
